---
layout: default
title: Home
---

<h1>All Posts</h1>
{% assign sorted = site.categories | sort %}
{% for category in sorted %}
  <h2>
    {{ category | first }}
  </h2>
  <ul>
  {% for posts in category %}
    {% for post in posts %}
      {% if post.title %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
          {% if post.date %}
            <span>
              {{ post.date | date_to_string }}
            </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %}
