---
title: Home
layout: default
---

<div class='adsense-top'>
  {% include adsense.html %}
</div>
<div class='container jb-pagecontent'>
  {% assign sorted = site.categories | sort %}
  {% for category in sorted %}
    <h2>
      {{ category | first }}
    </h2>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        {% if post.title %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
            </a>
            {% if post.date %}
              <span class='text-muted'>
                {{ post.date | date_to_string }}
              </span>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  {% endfor %}
</div>
<div class='adsense-bottom'>
  {% include adsense.html %}
</div>
