.post-title,
.post-title a {
  font-size: 2.35rem;
}

.post {
  word-wrap: break-word
}

/* sns */
.sns {
  text-align: right;
  width: 100%;
}

.sns a {
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 0;
  display: inline-block;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.sns a.facebook {
  background-image: url("https://simplesharebuttons.com/images/somacro/facebook.png");
}
.sns a.google {
  background-image: url("https://simplesharebuttons.com/images/somacro/google.png");
}
.sns a.twitter {
  background-image: url("https://simplesharebuttons.com/images/somacro/twitter.png");
}

/* adjust margins for google adsense */
.masthead {
  margin-bottom: 1rem;
}

.post {
  margin-bottom: 2.5rem;
}

.adsense-top {
  margin-bottom: 1rem;
}

.adsense-bottom-home-wrapper {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.related {
  padding-top: 1rem;
}

.adsense-wrapper {
  text-align: center;
}

.adsense-wide, .adsense-medium, .adsense-narrow {
  display: none;
}

@media (max-width: 37.999em) {
  .adsense-narrow {
    display: block;
  }
}

@media (min-width: 56em) {
  .adsense-wide {
    display: block;
  }
}

@media (min-width: 38em) and (max-width: 55.999em) {
.adsense-medium {
  display: block;
}
