body {
  font-size: 20px;
}


.jb-siteheader {

}

.jb-sitefooter {
  margin-top: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.jb-pageheader {
  margin-top: 30px;
}

.jb-pagecontent {
  margin-top: 30px;
}

.jb-pagecontent p, .jb-pagecontent li {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}

.jb-related {
  margin-top: 30px;
}

.jb-adsense {
  margin-top: 30px;
}

.jb-pagecontent .highlight {
  margin: 1rem -15px;
  padding: 1rem;
  background-color: #f9f9f9;
}

/* sns */
.jb-sns {
  width: 100%;
  text-align: right;
}

.jb-sns a {
  display: inline-block;
  padding: 5px;
  width: 25px;
  height: 25px;
  border: 0;
  background-size: 25px 25px;
  background-repeat: no-repeat;
}

.jb-sns a.jb-facebook {
  background-image: url(https://simplesharebuttons.com/images/somacro/facebook.png);
}
.jb-sns a.jb-google {
  background-image: url(https://simplesharebuttons.com/images/somacro/google.png);
}
.jb-sns a.jb-twitter {
  background-image: url(https://simplesharebuttons.com/images/somacro/twitter.png);
}

.jb-ad1 {
  /*background-color: lightgreen;*/
}

.jb-ad2 {
  /*background-color: lightblue;*/
}

.jb-ad3 {
  /*background-color: pink;*/
}
