<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% seo %}

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/skeleton.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/custom.css?1">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico?2">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- katex configuration -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(function(){
      renderMathInElement(
          document.body,
          {
              delimiters: [
                  // {left: "$$", right: "$$", display: true},
                  {left: "$", right: "$", display: false},
              ]
          }
      );
      $("script[type='math/tex; mode=display']").replaceWith(
        function(){
          var tex = $(this).text()
          return (
            "<div class=\"equation\">" +
              katex.renderToString("\\displaystyle "+tex) +
            "</div>"
          )
      });
      $("script[type='math/tex']").replaceWith(
        function(){
          var tex = $(this).text()
          return (
            "<div class=\"equation\">" +
              katex.renderToString(tex) +
            "</div>"
          )
      });
    })
  </script>
  <!-- End of katex configuration -->

  <!-- viz configuraiton-->
  <script src="{{ site.baseurl }}/public/js/viz/viz.js"></script>
  <script src="{{ site.baseurl }}/public/js/viz/lite.render.js"></script>
  <script>
    $(function(){
      var viz = new Viz();

      $("pre code.language-graphviz").each(function(){
        var text = $(this).text()
        var target = $(this).parent()
        viz.renderSVGElement(text)
        .then(function(element) {
          target.replaceWith($(element).prop('outerHTML'))
        })
        .catch(error => {
          // Create a new Viz instance (@see Caveats page for more info)
          viz = new Viz();

          // Possibly display the error
          console.error(error);
        });
      });
    })
  </script>
  <!-- End of viz configuraiton-->

  <!-- google-analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73406060-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>