.jb-siteheader {
  .navbar {
    display: flex;
    a {
      display: block;
      padding: 5px;
    }
  }
}
.jb-pagecontent {
  img {
    max-width: 100%;
  }

  svg {
    max-width: 100%;
  }

  code {
    overflow: auto;
  }

  .equation {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.jb-sitefooter {
  margin-bottom: 20px;
}

.container {
  max-width: 960px;
}
